.carsWrapper {
    display: flex;
}

.carItem {
    width: 300px;
    height: 200px;
    background: rgba(255,255,255,0.1);
    color: white;
    backdrop-filter: blur(20px);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    transition: 0.1s;
    margin: 10px;
}

.carItem:hover {
    background: rgba(255,255,255,0.2);
}

.carItem .logoWrapper {
    width: 100%;
    height: 100px;
    margin-top: 20px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carItem .logoWrapper .logo {
    width: 100px;
    height: 100px;
}

.carItem .logoWrapper .logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.carItem .title {
    width: 100%;
    text-align: center;
    padding: 20px 0px;
    font-size: 1.2rem;
}