.carsWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
}

.carsWrapper a {
    width: 25%;
    box-sizing: border-box;
    cursor: pointer;
}

.carItem {
    width: auto;
    min-width: 150px;
    margin: 5px;
    height: 200px;
    background: rgba(255,255,255,0.1);
    color: white;
    backdrop-filter: blur(20px);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    transition: 0.1s; 
    /* padding: 10px;  */
    

}

.carsWrapper > div {
    width: 100%;
}


.carItem:hover {
    background: rgba(255,255,255,0.2);
}

.carItem:hover > .logoWrapper .logo {
    transform: scale(1.05);
    filter: drop-shadow(0px 15px 25px rgba(0,0,0,0.8));
}

.carItem .logoWrapper {
    width: 100%;
    height: 100px;
    margin-top: 20px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carItem .logoWrapper .logo {
    width: 100px;
    height: 100px;
    transition: 0.1s;
}

.carItem .logoWrapper .logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.carItem .title {
    width: 100%;
    text-align: center;
    padding: 20px 0px;
    font-size: 1.2rem;
}

/*@media screen and (max-width: 576px){*/
/*    .carItem .title {*/
/*        padding: 7px 0px; */
/*    }*/

/*    .carItem .logoWrapper .logo {*/
/*        width: 70px;*/
/*        height: 70px;*/
/*    }*/

/*    .carsWrapper {*/
/*        justify-content: center;*/
/*        margin-top: 25px;*/
/*        margin-bottom: 25px;*/
/*    }*/
/*}*/

/*@media screen and (max-width: 768px){*/
/*    .carsWrapper > div {*/
/*        width: 25%;*/
/*    }*/

/*    */
/*}*/

/*@media screen and (max-width: 576px){*/
/*    .carsWrapper > div {*/
/*        width: 100%;*/
/*        flex: 1;*/
/*    }*/

/*    .carItem{*/
/*        height: 170px;*/
/*    }*/

/*    */
/*}*/

/*@media screen and (max-width: 340px){*/
/*    .carItem{*/
/*        min-width: 120px;*/
/*    }*/

/*    */
/*}*/