.featureModelWrapper {
    width: 100%;
    height: auto;
}

.titleDescriptionImgWrapper {
    display: flex;
    margin-bottom: 50px;
}



.titleDescriptionImgWrapper img {
    filter: drop-shadow(0 0 20px rgba(255,255,255,0.3));
}

.titleDescriptionWrapper {
    width: 50%;
    height: auto; 
    color: #fff;
    display: flex;
    align-items: center;
}

.titleDescriptionWrapperContent {
    width: 100%;
    height: inherit;
}

.titleDescriptionWrapperContent .title {
    width: 90%;
    height: auto;
    min-height: 50px;
    border-radius: 5px;
    font-size: 2.4rem;
    margin-bottom: 20px;
    font-weight: 700;
}

.titleDescriptionWrapperContent .productionYears {
    font-size: 1rem;
    font-weight: 500;
}

.description {
    width: 90%;
    height: auto;
    min-height: 100px;
    border-radius: 5px;
    background: rgba(255,255,255,0.1);
    padding: 10px 10px;
}

.imgCar {
    width: 50%;
    
}

.imgCar img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 350px;
    float: right;
}

.descriptionMotorWrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}

.modelYear {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.descriptionEngineTable {
    border: 0;
    color: white;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    padding: 20px;
}

@media screen and (max-width: 768px){
    
}

@media screen and (max-width: 576px){
    .titleDescriptionImgWrapper {
        flex-direction: column;
    }

    .titleDescriptionImgWrapper .titleDescriptionWrapper {
        width: 100%;
        margin-top: 20px;
    }

    .titleDescriptionImgWrapper .titleDescriptionWrapper .titleDescriptionWrapperContent .title {
        width: 100%;
        font-size: 1.4rem;
        text-align: center;
        min-height: unset;
    }

    .titleDescriptionImgWrapper .imgCar {
        margin-top: 20px;
        width: 100%;
    }

    .titleDescriptionImgWrapper .titleDescriptionWrapper .titleDescriptionWrapperContent .productionYears {
        text-align: center;
    }

    .title {
        font-size: 0.7rem;
        width: 85%;
        min-height: auto;

    }

    .description {
        width: 85%;
        font-size: 0.7rem;
        min-height: auto;
        
    }

    .modelYear {
        margin: 0;
        display: block;
    }

    .modelYear > h4:nth-child(1){
        margin-bottom: 10px;
    }
    
}
