.enginesCards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    backdrop-filter: blur(20px);
    cursor: pointer;
    margin-bottom: 10px;
    
}

.enginesCards > div {
    width: 22%;
    background: rgba(255,255,255,0.1);
    margin: 5px;
    border-radius: 10px;
    padding: 10px 20px;
    transition: 0.6s;
}

.enginesCards > div:hover {
    background: rgba(255,255,255,0.2); 
}

.enginesCards > div.selected {
    background: white;
    color: black;
}

.enginesCards > div.selected > .engineVolume {
    color: black;
}
.enginesCards > div > .engineVolume {
    font-size: 1.7rem;
    color: white;
}

.volumeWrapper{
    width: 100%;
    display: flex;
     justify-content: space-between; 
}




@media screen and (max-width: 768px){
    .enginesCards > div {
        width: 22%;
    }

    .enginesCards > div > .engineVolume {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 576px){
    .enginesCards > div{
        padding: 1px 15px;
    }

    .enginesCards > div > .engineVolume {
        font-size: 1.1rem;
    }
}
