.carsWrapper{
    width: 100%;
    position: absolute;
    bottom: 30%;
}

@media screen and (max-width: 768px){
    .carsWrapper{
        bottom: 10%;
    }
}

@media screen and (max-width: 576px){
    .carsWrapper{
        position: static;
        /* bottom: 6%; */
    }
}