.descriptionMotorTittleItem{
    width: auto;
    min-width: 200px;
    height: auto;
    min-height: 100px;
    background-color:#fff;
    margin-bottom: 20px;
    cursor: pointer;
    
}

.description{
    width: auto;
    min-width: 200px;
    height: auto;
    min-height: 250px;
    background-color:#fff;
}