.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    height: auto;
    min-height: 50px;
    border-radius: 5px;
}

.logoNavBar img {
    width: 100px;
}

.searchNavBar {
    margin-right: 20px;
}

.searchNavBar input {
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    border: 2px solid #000;
    width: 200px;
    height: 20px;
    border-radius: 10px;
    padding-left: 10px;
}

