.navbarWrapper {
    width: 100%;
    height: auto;
    position: relative;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    height: auto;
    min-height: 50px;
    border-radius: 5px;
    background: rgba(255,255,255,0.1);
    padding: 20px 30px;
    box-sizing: border-box;
}

.logoNavBar {
    width: 50px;
}

.logoNavBar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.searchNavBar {
    margin-right: 20px;
}

.searchNavBar input {
    outline: none;
    padding: 10px 5px;
    border: 2px solid rgba(255,255,255, 0.2);
    width: 200px;
    padding-left: 10px;
    background: transparent;
    font-size: 1rem;
    color: white;
    border-radius: 5px;
}

.navSearch{
    position: absolute;
    display: none;
}

.navSearch.active{
    display: block;
    margin-top: 20px;
    width: 100%;
    height: auto;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(20px);
    z-index: 100;
    border-radius: 5px;
}

.searchContent{
    padding: 30px 20px;
}

.notFound span {
    width: 100%;
    display: block;
    color: white;
    font-size: 1rem;
    text-align: center;
}

@media screen and (max-width: 576px){
    .searchNavBar input {
        width: 100px;
        font-size: 0.8rem;
    }

    .navbar{
        padding: 15px 10px;
    }
}
