.descriptionMotorTittleItem{
    width: auto;
    min-width: 200px;
    height: auto;
    background-color:#fff;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 5px;
    background: rgba(255,255,255,0.1);
    padding: 10px 10px;
    color: #fff;
    transition: 0.5s; 
}

.descriptionMotorTittleItem:hover{
    background: rgba(255,255,255,0.2);
}


.description{
    width: auto;
    min-width: 200px;
    height: auto;
    min-height: 250px;
    border-radius: 5px;
    background: rgba(255,255,255,0.1);
    padding: 10px 10px;
    color: #fff;
}


.motorTransmission{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}
