.descriptionMotorTitleItem {
    /* width: 25%; */
    box-sizing: border-box;
    cursor: pointer;
    min-width: 200px;
    height: auto;
    background-color:#fff;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 5px;
    background: rgba(255,255,255,0.1);
    padding: 10px 10px;
    color: #fff;
    backdrop-filter: blur(20px);
    transition: 0.5s; 
    margin-right: 20px;
}

.descriptionMotorTittleItem:hover {
    background: rgba(255,255,255,0.2);
}

.descriptionCarWrapper{
    width: 100%;
}


.description {
    width: 100%;
    height: auto;
    border-radius: 5px;
    background: rgba(255,255,255,0.1);
    padding: 10px 10px;
    color: #fff;
}


.motorTransmission {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}
