.brandModelWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.brandModelWrapper > div {
  width: 33%;
  min-height: 170px;
  background: rgba(255,255,255,0.1);
  border-radius: 5px;
   margin-bottom: 1%;
  backdrop-filter: blur(20px);
}


.brandModelWrapper > div:hover {
  background: rgba(255,255,255,0.2);
}


.brandModelWrapper > div > a > div {
  width: 100%;
  height: 100%;
  display: flex;
}

.brandModelWrapper > div > a > div > .left {
  flex: 2;
  height: inherit;
  padding: 15px;
  box-sizing: border-box;
}

.brandModelWrapper > div > a > div > .left > .info {
  width: 100%;
  height: 100%;
  position: relative;
}

.brandModelWrapper > div > a > div > .left > .info > .title {
  font-size: 1.4rem;
  color: white;
}

.brandModelWrapper > div > a > div > .left > .info > .year {
  font-size: 0.9rem;
  color: white;
  position: absolute;
  bottom: 0;
}

.brandModelWrapper > div > a > div > .right {
  flex: 3;
  height: inherit;
  position: relative;
  overflow: hidden;
}

.brandModelWrapper > div > a > div > .right > div {
  width: 100%;
  height: 100%;
  position: absolute;
  right: -20px;
}

.brandModelWrapper > div > a > div > .right > div img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: drop-shadow(0 0 13px rgba(255,255,255,0.2));
}




@media screen and (max-width: 768px){
  .brandModelWrapper > div > a > div > .left > .info > .title {
    font-size: 1.1rem;
  }

  
.brandModelWrapper > div > a > div > .left > .info > .year {
  font-size: 0.7rem;
}

.brandModelWrapper > div {
  min-height: 150px;
}

  
}

@media screen and (max-width: 576px){
.brandModelWrapper > div {
  width: 49.5%;
  min-height: 120px;
}

.brandModelWrapper > div > a > div > .left > .info > .title {
  font-size: 0.9rem;
}


  
}

@media screen and (max-width: 370px){
  .brandModelWrapper > div {
    width: 49.5%;
    min-height: 100px;
  }
  
  .brandModelWrapper > div > a > div > .left > .info > .title {
    font-size: 0.8rem;
  }
  
  .brandModelWrapper > div > a > div > .left > .info > .year {
    font-size: 0.6rem;
  }
  
    
  }



/* .brandModelItem {
  position: relative;
  width: 33%;
  min-width: 250px;
  height: auto;
  min-height: 170px;
  border-radius: 5px;
  background: rgba(255,255,255,0.1);
  padding: 20px 20px;
  color: #fff;
  transition: 0.5s;
} */

/* .brandModelItem:hover{
  background: rgba(255,255,255,0.2);
}

.brandModelTittleWrapper{
    display: flex;
    justify-content: space-between;
}

.brandModelItem img {
  position: absolute;
  display: block;
  width: 100px;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.yearModel{
    width: 100%;
    margin-top: 30px;
}

.yearModel h4{
    text-align: center;
} */
