@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');

body, html{
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

li{
    list-style: none;
    outline: none;
}

a{
    text-decoration: none;
    outline: none;
}

.App{
    width: 100%;
    height: auto;
    min-height: calc(100vh - 80px) ;
    background-image: url('./Assets/images/bmwBlinkers.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 20px;
}

.wrapper{
    position: relative;
    width: 1044px;
    height: auto;
    min-height: calc(100vh - 80px);
    margin: 0 auto;
}

.navbarWrapper{
    margin-bottom: 50px;
}

.footer{
    width: 100%;
    height: auto;
    min-height: 60px;
    background-color: #103475;
}



