@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');


html,
    body {
      position: relative;
      height: 100%;
    }

    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }

    .swiper-container {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }



body, html{
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

li{
    list-style: none;
    outline: none;
}

a{
    text-decoration: none;
    outline: none;
}

h1, h2, h3, h4, h5, h6, a, p, span{
    padding: 0;
    margin: 0;
}

.App{
    width: 100%;
    height: auto;
    min-height: calc(100vh - 80px) ;
    background-image: url('./assets/images/bmwBlinkers.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 20px;
}

.wrapper{
    position: relative;
    width: 100%;
    max-width: 1044px;
    height: auto;
    min-height: calc(100vh - 80px);
    margin: 0 auto;
    box-sizing: border-box;
}

.navbarWrapper{
    margin-bottom: 50px;
}

.navigator{
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

@media screen and (max-width: 1100px){
    .wrapper{
        width: 90%;
        padding: 0px 00px; 
    }

    .navigator{
        width: 90%;
    }


}

@media screen and (max-width: 992px){

    .wrapper{
        max-width: 992px;
    }
}

@media screen and (max-width: 768px){

}

@media screen and (max-width: 576px){
    .App{
        width: 100%;
        height: auto;
        min-height: calc(100vh) ;

    }

    .wrapper{
        height: auto;
        min-height: calc(100vh);
    }
}

@media screen and (max-width: 350px){

    .wrapper{
        height: auto;
        min-height: calc(100vh + 80px);
    }
}